header {
  height: 50vh;
}

main section {
  height: 50vh;
}

header h1 {
  font-size: 4.375rem;
}

header button {
  padding: 20px 100px !important;
  font-size: 30px !important;
}

section h2 {
  font-size: 50px;
}
section p {
  font-size: 35px;
}
